/* Break point
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
*/
/* FOOTER */
@media (max-width: 576px) {
  .footer .container .f-title {
    font-size: 20px;
  }

  .footer .container .f-right {
    font-size: 20px;
  }

  .footer .container .f-info {
    font-size: 14px;
  }

  .footer hr {
    width: 70px;
  }
}

/* HOMEPAGE */
@media (max-width: 1400px) {
  .homepage .section .title {
    font-size: 30px;
  }

  .homepage .about-httt {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .homepage .section .title {
    font-size: 25px;
  }

  .homepage .tieude-datchuan {
    font-size: 25px;
  }

  .homepage iframe {
    max-width: 580px;
  }
}

@media (max-width: 992px) {
  .homepage .banner img {
    max-width: auto;
    height: auto;
  }

  .homepage iframe {
    max-height: 350px;
    max-width: 350px;
  }

  .homepage .contact .fragment {
    width: 320px;
  }

  .homepage .contact .fragment {
    font-size: auto;
  }
}

@media (max-width: 768px) {
  .homepage .section {
    margin-bottom: 100px;
  }

  .homepage .section .content {
    width: 100%;
  }

  .homepage .contact .fragment {
    max-width: 170px;
    height: auto;
    padding: 10px !important;
  }

  .homepage .contact .contact-name {
    font-size: 12px;
  }

  .homepage .contact .description {
    font-size: 8px;
  }

  .homepage .contact svg {
    max-width: 20px;
    max-height: 20px;
  }

  .homepage .contact .line {
    margin-bottom: 5px !important;
    width: 40px;
  }

  .homepage .contact {
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .homepage .contact {
    gap: 10px;
  }
}

/* galaxy fold */
@media (max-width: 300px) {

  .homepage iframe {
    max-height: 200px;
    max-width: 250px;
  }
}

/* ABOUT-US */

@media (max-width: 768px) {
  body .about_us {
    margin: 150px 0;

  }
}

/* TEACHING-STAFF */
@media screen and (max-width: 1400px) {
  .staff .banner p {
    font-size: 800% !important;
  }
}

@media screen and (max-width: 1200px) {
  .staff .banner p {
    font-size: 700% !important;
  }
}

@media screen and (max-width: 990px) {
  .staff .banner p {
    display: none;
  }
}

@media (max-width: 768px) {
  .academic {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}


/* ACADEMIC */
@media (max-width: 1200px) {
  .academic .content p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .academic .content p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .academic {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .academic .content p {
    font-size: 14px;
  }

  .academic .high-program .info {
    display: none !important;
  }

  .academic #slider {
    display: block !important;
  }

  /* galaxy fold */
  @media (max-width: 300px) {

    .academic #slider .slide-item {
      font-size: smaller;
    }
  }
}