/* home */
@media (max-width: 1400px) {
    .homepage .section .title {
        font-size: 30px;
    }

    .homepage .about-httt {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .homepage .section .title {
        font-size: 25px;
    }

    .homepage .tieude-datchuan {
        font-size: 25px;
    }

    .homepage iframe {
        max-width: 580px;
    }
}

@media (max-width: 1000px) {
    .homepage .banner img {
        max-width: 350px;
        height: auto;
    }

    .homepage iframe {
        max-height: 350px;
        max-width: 350px;
    }

    .homepage .contact .fragment {
        width: 320px;
    }

    .homepage .contact .fragment {
        font-size: auto;
    }

}

@media (max-width: 770px) {
    .homepage .section {
        margin-bottom: 100px;
    }

    .homepage .section .content {
        width: 100%;
    }

    .homepage .contact .fragment {
        max-width: 160px;
        height: auto;
        padding: 10px !important;
    }

    .homepage .contact .contact-name {
        font-size: 12px;
    }

    .homepage .contact .description {
        font-size: 8px;
    }

    .homepage .contact svg {
        max-width: 20px;
        max-height: 20px;
    }

    .homepage .line {
        margin-bottom: 5px !important;
    }
}

/* staff */
@media screen and (max-width: 1400px) {
    .staff .banner p {
        font-size: 800% !important;
    }
}

@media screen and (max-width: 1200px) {
    .staff .banner p {
        font-size: 700% !important;
    }
}

@media screen and (max-width: 990px) {
    .staff .banner p {
        display: none;
    }
}

/* dao tao */
@media (max-width: 992px) {
    .daotao .detail {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .daotao .detail {
        font-size: 14px;
    }
}