* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  --blue: #2669f6;
}

.blue {
  color: #2669f6 !important;
}

/* Header Section */
.header {
  height: 100px;
  background-color: pink;
}

nav {
  height: 100px;
}

nav .container {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

nav img {
  height: 80px;
}

.nav-link:hover {
  color: var(--blue) !important;
}

nav .nav-item .nav-link {
  font-weight: 500;
}

/* Footer Section */
.footer {
  min-height: 395px;
  background-color: black;
  color: white;
}

.footer img {
  max-width: 200px;
  margin: 36px;
}

.footer .f-title {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.footer hr {
  border: solid 2px #2669f6;
  opacity: 1;
  width: 130px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.footer .f-right {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}

.d-flex {
  gap: 10px;
}

.footer i {
  margin-right: 15px;
  font-size: 25px;
}

.footer .f-info {
  font-size: 18px;
  line-height: 28px;
}

/* About us Section */
.about_us {}