* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
  --blue: #2669f6;
}

.blue {
  color: #2669f6 !important;
}

.button-style {
  border-radius: 30px !important;
  background: #2669F6 !important;
  box-shadow: 1px 6px 4px 0px rgba(38, 119, 246, 0.25);
}

/* Header Section */
.header {
  height: 100px;
}

nav .container {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

nav img {
  height: 80px;
}

.nav-link:hover {
  color: var(--blue) !important;
}

nav .nav-item .nav-link {
  font-weight: 500;
}

.navbar-nav {
  column-gap: 50px;
}

/* Footer Section */
.footer {
  min-height: 350px;
  background-color: black;
  color: white;
}

.footer img {
  max-width: 180px;
  margin: 30px;
}

.footer .f-title {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.footer hr {
  border: solid 2px #2669f6;
  opacity: 1;
  max-width: 130px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.footer .f-right {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
}

.d-flex {
  gap: 10px;
}

.footer i {
  margin-right: 15px;
  font-size: 25px;
}

.footer .f-info {
  font-size: 18px;
  line-height: 28px;
}

/* HomePage */
.homepage {
  margin-top: 200px;
}

.homepage .banner img {
  width: auto;
  height: 430px;
}

.homepage .section {
  margin-bottom: 150px;
}

.homepage .section .title {
  font-size: 40px;
}

.homepage .section .httt {
  font-weight: 600;
}

.homepage iframe {
  height: 450px;
  width: 600px;
}

.homepage .about-httt {
  max-width: 600px;
  font-size: 25px;
}

.tieude-datchuan {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.contact {
  gap: 30px;
  width: 100%;
  margin-bottom: 150px;
  flex-wrap: wrap;
}

.contact .fragment {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 90px 10px rgba(0, 0, 0, 0.12);
  width: 380px;
}

.contact .contact-name {
  font-size: 25px;
  font-weight: 500;
}

.contact .description {
  font-size: 18px;
}

.line {
  width: 100px;
  height: 3px;
  background: #2669F6;
}

/* About us Section */
.about_us {
  margin: 100px 0;
}

.about_us .item {
  max-width: 1050px;
  margin: 80px auto;
}

.about_us .underline {
  border: solid 2px #2669f6;
  opacity: 1;
  max-width: 150px;
  margin-top: -5px;
  margin-bottom: 30px;
}

.about_us .content {
  max-width: 700px;
}

.about_us .content p {
  text-align: justify;
  font-size: 25px;
  line-height: normal;
}

.about_us .img img {
  max-width: 250px;
}

/* Teaching staff section */
.staff {
  margin: 50px 0;
}

.staff .banner {
  position: relative;
  align-items: center;
}

.staff .banner p {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  font-size: 900%;
  font-weight: 700;
}

.staff .card img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
  object-position: top;
}

/* Animation */
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

/* keyframe section */
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}