* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
}

.blue {
  color: #2669f6;
}

/* Header Section */
.header {
  height: 100px;
  background-color: pink;
}

.header img {
  height: 80px;
  margin: 10px;
}

/* Footer Section */
.footer {
  min-height: 395px;
  background-color: black;
  color: white;
}

.footer img {
  max-width: 200px;
  margin: 36px;
}

.footer .f-title {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.footer hr {
  border: solid 2px #2669f6;
  opacity: 1;
  width: 130px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.footer .f-right {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}

.d-flex {
  gap: 10px;
}

.footer i {
  margin-right: 15px;
  font-size: 25px;
}

.footer .f-info {
  font-size: 18px;
  line-height: 28px;
}

/* About us Section */
.about_us {
  margin: 100px 0;
}

.about_us .item {
  width: 1050px;
  margin: 80px auto;
}

.about_us .underline {
  border: solid 2px #2669f6;
  opacity: 1;
  width: 150px;
  margin-top: -5px;
  margin-bottom: 30px;
}

.about_us .content {
  width: 700px;
}

.about_us .content p {
  text-align: justify;
  font-size: 25px;
  line-height: normal;
}

.about_us .img img {
  max-width: 250px;
}
